body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img{  
  max-width:400px;
  height:auto
}

.card-title.title{
  font-size:28px;
}

.card-text.price{
  font-size:22px;
}


.card-body{

}

input.form-control.filter, input[type="input"]{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-color:#ccc;
  border-radius:0;
  margin-left:40px;
}

.btn.btn-secondary{
  background-color:#0080ff;
  font-size: 12px;
  font-weight:bold;
  padding:12px;
  box-shadow: 2px 2px 2px #cccccc;
  border:0;
}


.price-cart{
  font-weight:400 ;
  color:#333;
  font-size:24px;
  opacity:.8;
}

.onSale{
  color:green;
  float:right;
  font-weight:bold;
  font-size:20px;
  position:relative;
  top:20px;
}

.basket-container.card{
  background-color:orange;
position:relative;
padding:12px;
min-height:100%;
margin-left:2%;
border-radius:7px;
width:369px;
right:-180px;
}

.card-body.cart-item{
width:100%;
height:110px;
}


.card-title.title-cart{
  font-size:20px;
  width:80%;
}

.fa{
  float:right;
  position:relative;
  top:-30px;
}

.body-cart.card-body{
 
  height:5px;
  padding:8px;
}

.card-cart .card{
  margin:10px;
}

.row{
  width:100%;

}

.left-column.col{
  width:100%;
}

.right-column.col{
  width:100%;
  padding-left:20px;
}

.container{
  display:flexbox;
  flex-direction: row;

}

@media (max-width: 932px){
  .right-column.col{
width:100%;
    padding-left:2px;

  }
  .basket-container.card{
right:-25px;
  }

}

.totals{
  color:#fff;
  margin-left:20px;
  margin-top:10px;
}

.btn-secondary.checkout-btn.btn{
  background-color:#fff;
  color:#000;margin-top:20px;
  border-radius:7px;
}

.card-title.title-cart {
  font-size: 20px;
  width: 100%;
  padding: 8px;
  border-top:1px solid #ccc;
  border-radius:2px;
  margin-bottom:20px;

}