body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img{  
  max-width:400px;
  height:auto
}

.card-title.title{
  font-size:28px;
  padding-left:20px;
}

.card-text.price{
  font-size:22px;
}

 input.form-control.filter {
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-color:#ccc;
  border-radius:0;
  min-width:350px;
}

.btn.btn-secondary{
  background-color:#0080ff;
  font-size: 12px;
  font-weight:bold;
  padding:12px;
  box-shadow: 2px 2px 2px #cccccc;
  border:0;
}


.price-cart{
  font-weight:400 ;
  color:#333;
  font-size:24px;
  opacity:.8;
}

.onSale{
  color:green;
  float:right;
  font-weight:bold;
  font-size:20px;
  position:relative;
  top:-50px;
  margin-right:100px;
}

.basket-container.card{
  background-color:orange;
position:relative;
padding:12px;
min-height:100%;
right:-95px;
border-radius:7px;
float:right;
width:400px;

}

.card-body.cart-item{
width:100%;
height:110px;
}


.card-title.title-cart{
  font-size:24px;
  width:80%;
  color:#3c3c3c;
}

.fa{
  float:right;
  position:relative;
  top:-30px;
  width:20px;
  font-size:18px;
}

.body-cart.card-body{
 
  height:5px;
  padding:8px;
}

.card-cart .card{
  margin:10px;
}

.row{
  width:100%;

}

.left-column.col{
  width:580px;
}

.right-column.col{
  width:100%;
  padding-left:0px;
}

.container{
  display:flexbox;
  flex-direction: row;

}

@media (max-width: 649px){
  .right-column.col{
width:100%;
    padding-left:2px;
  }
  .basket-container.card{
margin-top:40px;
width:400px;
  }
  .onSale{
    margin-right:20px;
  }
}

@media (max-width: 960px){
  .basket-container.card{
    margin-top:40px;
    margin-bottom:60px;
    margin-left:2%;
      }
}

.totals{
  color:#fff;
  margin-left:20px;
  margin-top:15px;
  margin-bottom:0px;
}

.btn-secondary.checkout-btn.btn{
  background-color:#fff;
  color:#000;margin-top:20px;
  border-radius:7px;
}

.card-title.title-cart {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  
  border-radius:2px;
  margin-bottom:20px;
}

span.your-cart{
  padding:8px;
  color:#fff;
  font-size:20px;
}

.total{
  font-size:28px;
font-weight:bold;
color:#fff;
margin-left:20px;
}

.navbar{
  height:80px;
  border-radius:4px;
  box-shadow: 3px 3px 3px #cccccc;
}

.bg-dark {
  height: 100px;
  border-radius:4px;
  margin-top:60px;
}

.cartTitle{
  color:#000;
  font-size:24px;
}

.header-links a, span.github{
float:right;
position:relative;
top:-65px;
margin-right:25px;
z-index:1;
color:#000;
}

.header-links2 a, span.components{
  float:right;
  position:relative;
  top:-65px;
  margin-right:15px;
  z-index:1;
  color:#000;
  }

  .filter-container{
    margin-left:30px;
    width:460px;
    margin-bottom:40px;
    margin-right:50px;
  }
.card{
  margin-bottom:1px;
}